@font-face {
    font-family: "Greybeard15";
    src: url(fonts/Greybeard-15px.ttf);
}

h1 {
    text-align: center;
    font-size: 1.5em;
    padding: 0px 15% 5% 1%; 
    color: #f0edd1;
    font-family: "Greybeard15";   
}
/*colours #0d110e, #090909*/
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    overflow-x: hidden;
    background-color: #090909;
    padding-top: 10px;
    padding-bottom: 50px;
    border-radius: 9px;
    border: 3px solid #0d110e;
}

.sidebar a {
    padding: 4% 8% 2% 18%;
    text-decoration: none;
    font-size: 1em;
    color: #f0edd1;
    display: block;
    font-family: "Greybeard15";
}

body {
    margin-top: 10px;
}

