<!DOCTYPE html>
<html>

    <head>
        <title>KLR Homepage</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" href="./src/output.css">
    </head>

    <body class="bg-[#1c1b19]">
        <!--TOPBAR STARTS-->
        <nav1 class="relative top-0 left-0 items-center flex space-x-5 container-screen rounded-br-sm font-mono py-4 h-14">
        <h1 class="text-xl px-4 text-neutral-50 pl-15">KLRepository</h1>
        </nav1>
        <nav2 class="fixed top-0 right-0 flex items-center max-w-1/2 space-x-5 container-screen rounded-br-sm font-mono py-4 h-14">
            <a href="index.html" class="block text-sm text-[#ff0002]">Homepage</a>
            <a href="#" class="block text-sm text-[#fdff00]">Theory</a>
            <a href="#" class="block text-sm text-[#00ff03]">Languages</a>
            <a href="#" class="block text-sm text-[#01fffe] pr-10">Analysis</a>
        </nav2>
        <!--TOPBAR ENDS-->
        <container class="text-neutral-200 absolute inset-20 inset-e-100 inset-s-60">
            <p class="text-xl mb-3">The Objective
            </p>
            <p class="text-body mb-3">Archival of alternate keyboard layouts from the AKL discord, reasoning from the creators, terminology used, and generators used to create layouts
            </p>
            <p class="mb-3">I personally found that outside the AKL discord community there was a large gap in knowledge in alternate layouts, Anecdotally i find the live enviroment of sharing layouts and receiving feedback or criticism to be constructive and thus it becomes a place where you can learn a lot very quickly ranging from experts in layout design with their own layout generators or from people who are ungodly fast at typing with alternate layouts and qwerty.
            </p>
            <p class="mb-3">The problem is with documentation, Private discord servers are by nature an insular and information distributed there is not freely available anywhere else sometimes and that is the case with the AKL discord.
            </p>
            <p class="mb-3">often i find alternate layouts outside the community that people praise without understanding, without metrics, without consideration of higher level statistics. So i have started this wiki in the hopes that it will act as a place for people to learn about what i consider to be the best layouts and information on layouts on the internet
            </p>
            <p class="mb-3">Click here to go to Terminology which is recommended to understand layout metrics and key formations.
            </p>
        </container>
    </body>
  
</html>